@media screen and (max-width: 1024px){
  .header{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
  }

  .header__icon{
    width: 254px;
  }

  .cover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
  }

  .cover__title{
    margin: 0;
    width: 530px;
    font-weight: 900;
    font-size: 75px;
    line-height: 79px;
  }

  .cover__subtitle{
    margin: 25px auto 30px;
    width: 93.75%;
    font-size: 30px;
    line-height: 36px;
  }

  .cover__image{
    margin: 0;
    width: 100%;
    padding-bottom: 100%;
    background-image: url(../images/__image.jpg);
    background-size: cover;
    background-position: center;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 90px auto;
  }

  .intro{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    text-align: left;
  }

  .intro__title{
    font-weight: 900;
    font-size: 45px;
    line-height: 58px;
    margin: 0;
    width: 100%;
  }

  .intro__quote{
    font-size: 24px;
    line-height: 34px;
    margin: 50px auto 26px 0;
    width: 100%;
  }

  .intro__quote-cite{
    font-size: 24px;
    line-height: 34px;
    width: 100%;
    text-align: right;
  }

  .intro__description{
    font-size: 16px;
    line-height: 26.08px;
    width: 100%;
    margin: 32px auto 0 0;
  }

  .photo-grid{
    margin: 64px auto 88px;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    place-items: center;
  }

  .photo-grid__item{
    width: 100%;
    height: 264px;
  }

  .places{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    row-gap: 72px;
  }

  .place{
    width: 100%;
    display: grid;
    grid-template-columns: 49.35% auto;
    grid-gap: 48px 28px;
    grid-template-areas:
      "title artist"
      "image description"
      "button .";
  }

  .place__title{
    width: 100%;
    margin: 0;
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    grid-area: title;
  }

  .place__description{
    width: 100%;
    font-size: 16px;
    line-height: 26.08px;
    margin: 0;
  }

  .footer{
    margin: 0 auto;
    padding: 0 0 24px;
  }
}

@media screen and (max-width: 544px){
  .header__icon{
    width: 188px;
  }

  .cover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
  }

  .cover__title{
    margin: 0;
    width: 228px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }

  .cover__subtitle{
    margin: 16px auto 40px;
    width: 288px;
    font-size: 16px;
    line-height: 20px;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 50px auto 64px;
  }

  .intro{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    width: 90%;
    text-align: left;

  }

  .intro__title{
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
    width: 100%;
  }

  .intro__quote{
    font-size: 24px;
    line-height: 30px;
    margin: 40px auto 10px 0;
    width: 100%;
  }

  .intro__description{
    font-size: 16px;
    line-height: 26.08px;
    width: 100%;
    margin: 32px auto 0 0;
  }

  .photo-grid{
    margin: 38px auto 62px;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 16px;
  }

  .photo-grid__item{
    width: 288px;
    height: 216px;
  }

  .places{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    row-gap: 50px;
  }

  .place{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "description"
      "button";
  }

  .place__title{
    width: 90%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    grid-area: title;
  }

  .place__website{
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 90%;
    grid-area: artist;
    margin: 0 auto;
  }

  .place__descriptions{
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    grid-area: description;
    grid-row: span 3;
    margin: 0 auto;
  }

  .place__button{
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    width: 90%;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }

  .place__button:hover{
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
    width: 90%;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }

  .footer{
    margin: 0 auto;
    padding: 0 0 24px;
  }

  .footer__copyright{
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
  }
}